body,
.gradient {
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title>h1 {
    color: white;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.nadpis {
    text-shadow: 1px 3px 5px black;
    margin-bottom: 1em;
}

.darkpage>.nadpis {
    color: orange;
}

.lightpage>.nadpis {
    color: teal;
    text-shadow: none;
}

.darkpage {
    background: #141419;
    color: white;
}

.lightpage {
    background-color: #fff;
    color: black;
    padding: 1em;
    margin-bottom: -1em;
}

.noise {
    background: url(img/texture.png) repeat;
}

.title {
    margin: 2em;
}

.page {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 1em;
}

#animace {
    width: 100%;
    opacity: 0.5;
    image-rendering: pixelated;
}

#anim-container {
    mix-blend-mode: overlay;
}