body, .gradient {
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header > h1 {
    color: white;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.nadpis {
    text-shadow: 1px 3px 5px black;
    margin-bottom: 1em;
}

.darkpage > .nadpis {
    color: orange;
}

.lightpage > .nadpis {
    color: teal;
    text-shadow: none;
}

.darkpage {
    background: url(img/site/texture.png) #141419 repeat;
    color: white;
    padding: 1em;
}

.lightpage {
    background: url(img/site/texture.png) #fff repeat;
    color: black;
    padding: 1em;
    margin: 0em -1em -1em -0em;
}

.header {
    margin: 2em;
}

.page {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}